body,html
{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:#fffefc;
	font-family: Verdana;
}



.wrapper{
	width:100%;
	height:100%;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-direction:column;
	flex-direction:column;
	text-align:center

}
